/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,500); */
body {
  background-color: #F0F1F5;
  /* font-family: 'Roboto', sans-serif; */
}


/* Carousel */
.owl-stage-outer{
  overflow: visible !important;
  overflow-x: hidden !important;
}

.owl-stage{
  margin-bottom: 20px;
}

.owl-carousel .carousel-item {
  background: #fff;
  border: 1px solid #D9D7DA;
  text-align: center;
  padding: 12px 0;
  margin: 0 5px;
  margin-top: 20px;
  transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  box-shadow: 0px 0px 20px -24px rgba(0, 0, 0, 0.23), 0px -2px 25px 0px rgba(0, 0, 0, 0.12), 0px 17px 10px -10px rgba(0, 0, 0, 0.2);
}

.carousel-item:hover {
  box-shadow: 0 0px 20px -24px rgba(0, 0, 0, 0.38), 0 -2px 25px 0px rgba(0, 0, 0, 0.2), 0 17px 10px -10px rgba(0, 0, 0, 0.2) !important;
}

.owl-carousel .carousel-item-text {
  padding: 12px;
}

.owl-carousel .carousel-item .item-kicker {
  color: #558a00;
  display: block;
  font-size: .7em;
  font-weight: 500;
  /* height: 15px; */
  margin-bottom: 10px;
  /* overflow: hidden; */
  text-transform: uppercase;
}

.owl-carousel .carousel-item .item-title {
  color: #646464;
  font-size: 1.2em;
  font-weight: 600;
  height: 45px;
  margin: 0;
  margin-bottom: 12px;
}


.owl-dot {

  display: none;
  margin: 0 !important;
}




/* Tabs */

.nav-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-tabs>li {
  display: block;
  position: relative;
  text-align: center;
}

.nav-tabs>li:last-child {
  margin-right: 0;
}

.tab-content {
  display: inline-block;
  width: 100%;
}

.tab-content .tab-pane {
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
}


.owl-nav{
  display: inline-block;
  text-align: center;
}

.owl-prev, .owl-next{
  width: 44px;
  height: 60px;
  line-height: 60px;
  background: black;
  position: relative;
  display: inline-block;
  transition: 0.5s;
}

.owl-prev:hover{
  right: 2px;
  background: lightgray;
}

.owl-next:hover{
  left:  2px;
  background: lightgray;
}
