{% extends 'base_cz.html' %}
{% load static %}
{% load i18n %}

{% block title %}
<title>Оферта</title>
{% endblock title %}

{% block links %}
<link href='{% static "css/gaia.css" %}' rel="stylesheet"/>
<link href='{% static "css/questions/questions.css" %}' rel="stylesheet"/>

{% endblock links %}

{% block content %}
<div class="section section-header">
    <div class="parallax filter filter-color-red" style="height: 45vh;">
      <div class="image" style="background-image: url({% static 'img/confidential/office-1.jpg' %}); background-position: center;">
      </div>
      <div class="container">
          <div class="content">
            <div class="title-area" style="margin-bottom: -20px;">
              <p>Milan Holidays</p>
              <h1 class="title-modern">{% trans "Оферта" %}</h1>
              <div class="separator line-separator">♦</div>
            </div>
          </div>
      </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="content">

      <section class="section-90 section-lg-0 section-hidden">
        <div class="shell-wide">
        	<div class="range range-xs-center range-lg-left">
        		<div class="cell-xs-10-- cell-lg-6-- section-image-aside section-image-aside-right text-left">
        			<div class="section-image-aside-body section-lg-122 inset-sm-right-30 offset-top-63 offset-lg-top-0">
        				<h2 class="text-bold text-uppercase text-spacing-20 text-ebony-clay text-center text-sm-left">{% trans "Оферта" %}</h2>
        				<div class="separator line-separator">♦</div>
        				<h4>{% trans "Соглашение и общие правила оказания услуг по поиску и бронированию трансферов" %}</h4>
        				<p></p>
        				<h5>{% trans "1. Общие положения" %}</h5>
        				<p>
                  {% trans "1.1. Компания Milan Holidays (далее КОМПАНИЯ или МЫ) предлагает для пользователя (далее КЛИЕНТ или ВЫ) услуги по поиску и бронированию трансферов в собственной он-лайн системе." %}
                </p>
        				<p>{% trans "При оформлении заявки КОМПАНИЯ должна" %}</p>
        				<p></p>
        				<p></p>
        				<ul>
        					<li>{% trans "получить от КЛИЕНТА необходимые и полные данные (включая контакты) для осуществления трансфера," %}</li>
        					<li>{% trans "передать их ПЕРЕВОЗЧИКУ (транспортная компания выполняющая сервис)," %}</li>
        					<li>{% trans "получить согласие ПЕРЕВОЗЧИКА на оказание услуги," %}</li>
        					<li>{% trans "информировать ВАС о готовности ПЕРЕВОЗЧИКА оказать услугу," %}</li>
        					<li>{% trans "проконтролировать исполнение заказа." %}</li>
        				</ul>
        				<p>
                  {% trans "1.2. При заказе любых услуг на данном Веб-сайте, Вы принимаете условия настоящего Соглашения в полном объеме, без каких-либо оговорок и исключений" %}.&nbsp;
                </p>
        				<p>
                  {% trans "Если Вы не согласны с данными правилами и условиями, то Вы вправе не использовать настоящий веб-сайт." %}
                </p>
        				<p>
                  {% trans "1.3. КОМПАНИЯ сохраняет за собой право вносить изменения в данное Соглашение в любое время без какого-либо специального уведомления. Редактированное Соглашения вступает в силу с момента его размещения на данном веб-сайте." %}
                </p>
        				<p>
                  {% trans "1.4. Мы гарантируем конфиденциальность сведений, предоставленных вами при бронировании, и использование их в соответствии с целями и условиями, определенными в" %}&nbsp;<a href="https://milan-holidays.net/confidential/" target="_blank">{% trans "Политике конфиденциальности" %}</a>.&nbsp;
        				</p>
        				<p></p>
        				<h5>{% trans "2. Ключевые термины Соглашения" %}</h5>
        				<p>
                  {% trans "2.1. ТРАНСФЕР — транспортная услуга, включающая:" %}
                </p>
        				<ul>
        					<li>{% trans "ожидание КЛИЕНТА в установленном при бронировании месте до его прибытия или по истечению оговоренного времени ожидания," %}</li>
        					<li>{% trans "встречу КЛИЕНТА," %}</li>
        					<li>{% trans "сопровождение КЛИЕНТА до транспортного средства, размещение багажа, переезд КЛИЕНТА до пункта назначения." %}</li>
        				</ul>
        				<p>
                  {% trans "Трансферы выполняются на автомобилях различных классов, минивэнах, микроавтобусах и автобусах." %}
                </p>
        				<p>
                  {% trans "2.2. ПЕРЕВОЗЧИК — транспортная компания, заключившая с нами (КОМПАНИЕЙ) агентское соглашение." %}
                </p>
        				<p>
                  {% trans "2.3. ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ — любые услуги экстра, которые может предоставить ПЕРЕВОЗЧИК в процессе исполнения трансфера. Данные услуги могут включать детали и условия встречи и переезда, выбор транспортного средства. ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ оплачиваются отдельно." %}
                </p>
        				<p>
                  {% trans "2.4. БРОНИРОВАНИЕ — подтверждение услуг трансфера. При бронировании КЛИЕНТ должен внести полные данные бронируемого трансфера." %}
                </p>
        				<p>
                  {% trans "2.5. ВАУЧЕР— документ, включающий все детали забронированного трансфера, с указанием порядка его оплаты." %}
                </p>
        				<p>
                  {% trans "2.6. ЗАКАЗ — подтвержденная обеими сторонами (КЛИЕНТОМ и ПЕРЕВОЗЧИКОВ) заявка на бронирование." %}
                </p>
        				<p></p>
        				<h5>{% trans "3. Оформление заказа" %}</h5>
        				<p>
                  {% trans "3.1. При оформлении заказа, необходимо соблюдать процедуры оформления бронирования, изложенные на странице бронирования нашего сайта. В процессе оформления бронирования необходимо указать точные данные, принимая на себя полную ответственность за их правильность и достоверность. Неполная или недостоверная информация, предоставленная при бронировании, повышает риск неполучения вами услуги или получения ненадлежащей услуги." %}
                </p>
        				<p>
                  {% trans "При нехватке деталей мы с вами свяжемся для уточнений." %}
                </p>
        				<p>
                  {% trans "3.2. После оформления заказа мы передаем все данные ПЕРЕВОЗЧИКУ, который принимает решение об исполнении трансфера. Заявка на бронирование признается заказом после приема ее перевозчиком." %}
                </p>
        				<p>
                  {% trans "3.3. Мы принимаем заявку на бронирование со следующим минимальным временем:" %}
                </p>
        				<ul>
        					<li>{% trans "за 16 часов до начала трансфера, для бронирования автомобилей группы 1 (Comfort, Minibus 7 pax)," %}</li>
        					<li>{% trans "за 24 часа до начала трансфера, для бронирования автомобилей группы 2 (Business, Premium, Minibus до 16 pax)." %}</li>
        				</ul>
        				<p>
                  {% trans "Мы можем не принимать заявку, поступившую в более поздний срок" %}.&nbsp;
                </p>
        				<p></p>
        				<h5>{% trans "4. Дата, время и место встречи / назначения" %}</h5>
        				<p>
                  {% trans "4.1. Дата и время встречи - это местные дата и время в пункте отправления." %}
                </p>
        				<p>
                  {% trans "4.2. Место встречи — это адрес/пункт отправления, где перевозчик будет ждать пассажира." %}
                </p>
        				<p>
                  {% trans "Место назначения — это адрес, по которому водитель доставит пассажиров." %}
                </p>
        				<p>
                  {% trans "4.3. При бронировании трансфера, с переездом в аэропорт, порт, вокзал или любой другой пункт назначения, куда пассажиру необходимо прибыть в определенное время, вы сами рассчитываете дату и время встречи и несете ответственность за возможное опоздание и убытки, связанные с опозданием. Наша КОМПАНИЯ может указать примерное время поездки." %}
                </p>
        				<p>
                  {% trans "4.4. Офрмляя заявку на трансфер в аэропорт, наша компания рекомендует указывать время начала трансфера, беря в расчёт продолжительность пути и запас не менее 3 часов на прохождение регистрации на рейс." %}&nbsp;
                </p>
        				<p></p>
        				<h5>{% trans "5. Классы автомобилей и багаж" %}</h5>
        				<p>
                  {% trans "5.1. Общее количество (включая детей) должно быть указано при оформлении заявки. При запросе детского кресла или размещении нестандартного багажа, вмещаемость машины может изменится." %}
                </p>
        				<p>
                  {% trans "5.2. Вы самостоятельно выбираете соответствующее автокресло для путешествующего с вами ребенка при оформлении заявки и несете ответственность за ваш выбор." %}
                </p>
        				<p>
                  {% trans "5.1. Сумма трех измерений стандартного багажа не должна превышать 158 см." %}
                </p>
                <p>
                  {% trans "Нестандартный по размеру багаж, а также спортивное оборудование (лыжи, сноуборды, сумки для гольфа, доски для серфинга, велосипеды и др.), детские коляски, кресло-коляски, музыкальные инструменты, переноски для животных и т.п. являются нестандартным багажом и подлежат дополнительному согласованию, что в некоторых случаях может повлечь вариацию стоимости услуги." %}
                </p>
        				<p></p>
        				<h5>{% trans "6. Сопровождение и исполнение Заказа" %}</h5>
        				<p>
                  {% trans "6.1. Подтверждение и всю необходимую информацию по вашему заказу мы вам пересылаем на адрес электронной почты и/или на номер телефона, указанные при оформлении заказа." %}
                </p>
        				<p>
                  {% trans "6.2. Риски, связанные с неполучением или несвоевременным просмотром сообщений, а также риски, связанные с несанкционированным доступом к вашей электронной почте и/или телефону, полностью лежат на вас." %}
                </p>
        				<p>
                  {% trans "6.3. По любым возникающим вопросам вы можете обратиться в службу поддержки нашей КОМПАНИИ или непосредственно к перевозчику по контактам, указанным в ваучере." %}
                </p>
        				<p></p>
        				<h5>{% trans "7. Изменение и отмена Заказа" %}</h5>
        				<p>
                  {% trans "7.1. В случае необходимости внесения изменения в заказ КЛИЕНТ обращается по адресу электронной почты" %} <a href="mailto:milanholidays@yandex.ru">milanholidays@yandex.ru</a>. {% trans "После чего, КОМПАНИЯ принимает внесенные изменения и пересылает их ПЕРЕВОЗЧИКУ. Минимальное время до начала трансфера, за которое мы принимаем изменения на бронирование, составляет 24 часа. Вам будет выслан новый ваучер на почту." %}
                </p>
        				<p>
                  {% trans "7.2. Если внесенные в указанный срок изменения привели к уменьшению стоимости заказа, Мы возвращаем вам разницу." %}
                </p>
        				<p>
                  {% trans "7.3. Если внесенные в указанный срок изменения повлекли к увеличению стоимости заказа, Вы должны произвести доплату." %}
                </p>
        				<p>
                  {% trans "7.4. Вы можете отменить бронирование с полным возвратом оплаченной суммы в срок более 12 часов до начала трансфера." %}
                </p>
        				<p>
                  {% trans "В случае отмены бронирования в более поздний срок мы не возвращаем внесенную предоплату. В случае отсутствия предоплаты мы спишем полную стоимость заказа с вашей карты, привязанной к заявке." %}
                </p>
        				<p>
                  {% trans "7.5. Мы не несем ответственности за отмену, перенос, опоздание рейсов пассажира и иные обстоятельства, которые не зависят от наших действий, бездействий, и не можем гарантировать ожидание пассажира в месте встречи за пределами времени бесплатного ожидания." %}
                </p>
        				<p>
                  {% trans "7.6. В случае наличия по вашему бронированию дополнительно оплаченных условий, сроки и порядок отмены вами заявки устанавливаются в ваучере или приложении к нему." %}
                </p>
        				<p>
                  {% trans "7.7. В некоторых (редких) случаях, связанных с нарушением перевозчиком своих обязательств или иными непредвиденными экстренными обстоятельствами, мы вправе отменить бронирование с полным возвратом оплаченной суммы." %}
                </p>
        				<p>
                  {% trans "7.8. В случае отмены заказа с купленной услугой бесплатной отмены, возвращается вся сумма за вычетом стоимости самой услуги бесплатной отмены. Срок возврата составляет 10 дней с момента получения уведомления об отмене." %}
                </p>
        				<p>
                  {% trans "Наше обязательство по возврату денежных средств признается исполненным с момента списания денежных средств с нашего счета в вашу пользу либо с момента отправки поручения на возврат в международную платежную систему." %}
                </p>
        				<p>
                  {% trans "7.9. Дальнейшие процедуры и сроки получения денежных средств зависят от работы обслуживающего банка или международной платежной системы." %}
                </p>
        				<p></p>
        				<h5>{% trans "8. Невыполнение Заказа" %}</h5>
        				<p>
                  {% trans "8.1. Неявка пассажира" %}
                </p>
        				<ul>
        					<li>{% trans "Если после истечения времени бесплатного ожидания пассажир не явился в указанное в ваучере место встречи и не принял входящий телефонный звонок от компании или перевозчика, перевозчик вправе отказаться от исполнения трансфера и покинуть место встречи." %}</li>
        					<li>{% trans "Пассажир должен иметь при себе мобильный телефон, номер которого указан в заявке на бронирование, в рабочем состоянии и быть доступным для входящего звонка во время начала трансфера, в течение времени ожидания и до момента встречи с перевозчиком." %}</li>
        					<li>{% trans "Если трансфер не состоялся в связи с отсутствием пассажира в установленном месте и в назначенное время, мы удерживаем стоимость заказа. Убытки, возникшие в связи с неполучением услуги, не возмещаются." %}</li>
        				</ul>
        				<p>
                  {% trans "8.2. Неявка перевозчика" %}
                </p>
        				<ul>
        					<li>{% trans "В случае отсутствия перевозчика в месте встречи в установленное время вам необходимо связаться с перевозчиком и со службой поддержки нашей компании." %}</li>
        					<li>{% trans "Для подтверждения нахождения в месте встречи вы можете сделать свое фото на фоне часов и стойки администратора отеля (когда пунктом отправления является отель), на фоне часов и табло с расписанием рейсов аэропорта или вокзала (когда пунктом отправления является аэропорт или вокзал) или представить любые иные доказательства, позволяющие сделать однозначный вывод о вашем нахождении в пункте отправления в установленное время." %}</li>
                  <li>
                  </li>
                  <li>{% trans "Срок для предъявления претензий по неявке перевозчика составляет четырнадцать календарных дней со дня начала трансфера, указанного в заказе." %}</li>
        					<li>{% trans "При предъявлении претензии по неявке перевозчика вам необходимо подтвердить, что вы:" %}</li>
        					<ol type="a">
        						<li>{% trans "находились в месте встречи в установленное время" %}</li>
        						<li>{% trans "совершили телефонный звонок перевозчику и в службу поддержки нашей компании и сообщили о неявке перевозчика." %}</li>
        					</ol>
        					<li>{% trans "В случае установленной неявки перевозчика мы полностью вернем вам&nbsp;уплаченную за трансфер сумму." %}</li>
        				</ul>
        				<p>
                  {% trans "8.3. Если из-за неявки перевозчика, вам пришлось воспользоваться услугой иного перевозчика/такси и стоимость этой услуги превысила стоимость забронированногоитрансфера, мы компенсируем ваши убытки в размере разницы стоимости трансферов, при условии что трансфер выполнен:" %}
                </p>
        				<ul>
        					<li>{% trans "из того же пункта отправления в тот же пункт назначения," %}</li>
        					<li>{% trans "в те же дату и время," %}</li>
        					<li>{% trans "на автомобиле такого же (или более низкого) класса." %}</li>
        				</ul>
        				<p>
                  {% trans "Мы возмещаем такого рода убытки при одновременном наличии всех указанных выше условий, подтвержденных соответствующими документами. Иные убытки не возмещаются." %}
                </p>
        				<p></p>
        				<h5>{% trans "9. Форс-мажор" %}</h5>
        				<p>{% trans "9.1. Форс мажор – неисполнение или ненадлежащее исполнение обязательств вследствии непреодолимой силы, чрезвычайных, непредвиденных и непредотвратимых обстоятельств, неподвластных нашему контролю или контролю перевозчика." %}
                </p>
        				<p>
                  {% trans "Форс мажор может включать: стихийные бедствия (землетрясение, наводнение, ураган), пожар, массовые заболевания (эпидемии), забастовки, военные действия, террористические акты, диверсии, ограничения перевозок, запретительные меры государств и другие не зависящие от воли сторон обстоятельства." %}
                </p>
        				<p>
                  {% trans "9.2. Стороны обязаны своевременно проинформировать друг друга о наступлении непредотвратимых обстоятельств, а также подтвердить наступление форс-мажора соответствующим документом компетентного органа, полученным в порядке, предусмотренном законодательством страны, на территории которой действуют обстоятельства непреодолимой силы." %}
        					{% trans "9.3. В случае несоблюдения требований настоящего раздела сторона лишается права ссылаться на обстоятельства непреодолимой силы как на основание для освобождения от ответственности за нарушение своих обязательств." %}
        				</p>
        				<p></p>
        				<h5>{% trans "10. Возврат денежных средств" %}</h5>
        				<p>
                  {% trans "10.1. Денежные средства, подлежащие возврату, будут переведены по реквизитам, указанным вами при бронировании, в срок не более десяти рабочих дней. В случае оплаты бронирования банковской картой возврат происходит по технологии международной платежной системы на ту же карту, с которой была оплата." %}
                </p>
        				<p>
                  {% trans "10.2. Обязательство по возврату денежных средств признается исполненным с момента списания денежных средств с счета нашей компании в вашу пользу либо с момента отправки поручения на возврат в международную платежную систему." %}
                </p>
        				<p>
                  {% trans "10.3. Дальнейшие процедуры и сроки получения денежных средств зависят от работы обслуживающего банка или международной платежной системы." %}&nbsp;
                </p>
        				<p></p>
        				<h5>{% trans "11. Направление претензий" %}</h5>
        				<p></p>
        				<p>
                  {% trans "11.1. Если вы недовольны качеством услуги по поиску и бронированию трансфера, пожалуйста, направьте нам претензию на электронную почту" %} <a href="mailto:milanholidays@yandex.ru">milanholidays@yandex.ru</a> {% trans "в течение четырнадцати календарных дней после дня осуществления трансфера. Претензии, направленные после истечения указанного срока, могут быть оставлены без рассмотрения." %}
                </p>
        				<p>
                  {% trans "11.2. Вы можете предъявить претензию непосредственно перевозчику, в связи с оказанной услугой по перевозке. Включая требование о возмещении вреда, причиненного жизни, здоровью, имуществу пассажира." %}
                </p>
        				<p>
                  {% trans "11.3. Если вы не имеете необходимых данных перевозчика и не знаете, как их найти, вы также можете обратиться к нам за помощью по адресу электронной почты" %} <a href="mailto:milanholidays@yandex.ru">milanholidays@yandex.ru</a>. {% trans "Все поступившие на указанный адрес обращения мы незамедлительно направим перевозчику." %}
                </p>
        			</div>
        		</div>
        	</div>
        </div>
   </section>

    </div>
  </div>
</div>


{% endblock content %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src='{% static "js/questions/questions.js" %}'></script>
{% endblock scripts %}
