{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
<title>Политика конфиденциальности</title>
{% endblock title %}

{% block links %}
<link href='{% static "css/gaia.css" %}' rel="stylesheet"/>
<link href='{% static "css/questions/questions.css" %}' rel="stylesheet"/>

{% endblock links %}

{% block content %}
<div class="section section-header">
    <div class="parallax filter filter-color-red" style="height: 45vh;">
      <div class="image" style="background-image: url({% static 'img/confidential/office-1.jpg' %}); background-position: center;">
      </div>
      <div class="container">
          <div class="content">
            <div class="title-area" style="margin-bottom: -20px;">
              <h1 class="title-modern">{% trans "Политика конфиденциальности" %}</h1>
              <div class="separator line-separator">♦</div>
            </div>
          </div>
      </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="content">

      <section class="section-90 section-lg-0 section-hidden">
        <div class="shell-wide">
        	<div class="range range-xs-center range-lg-left">
        		<div class="cell-xs-10-- cell-lg-6-- section-image-aside section-image-aside-right text-left">
        			<div class="section-image-aside-body section-lg-122 inset-sm-right-30 offset-top-63 offset-lg-top-0">
        				<h2 class="text-bold text-uppercase text-spacing-20 text-ebony-clay text-center text-sm-left">{% trans "Политика конфиденциальности" %}</h2>
        				<div class="separator line-separator">♦</div>
        				<h4>{% trans "Политика в отношении обработки персональных данных" %}</h4>
        				<p>
        				</p>
        				<h5>1. {% trans "Общие положения" %}</h5>
        				<p>
        				</p>
        				 {% trans "Настоящая политика обработки персональных данных определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных" %}&nbsp;Milan Holidays &nbsp;({% trans "далее – Оператор" %}).
        				<p>
        				</p>
        				<ol>
        					<li>{% trans "Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну." %}</li>
        					<li>{% trans "Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта" %}&nbsp;<a style="color: #569200;" style="color: #569200;" href="https://milan-holidays.net">https://milan-holidays.net</a>.</li>
        				</ol>
        				<p>
        				</p>
        				<h5>2. {% trans "Основные понятия, используемые в Политике" %}</h5>
        				<p>
        				</p>
        				<p>
        				</p>
        				<ol>
        					<li>{% trans "Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;" %}</li>
        					<li>{% trans "Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных" %});</li>
        					<li>{% trans "Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу" %}&nbsp;<a style="color: #569200;" href="https://milan-holidays.net">https://milan-holidays.net</a>;</li>
        					<li>{% trans "Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств" %};</li>
        					<li>{% trans "Обезличивание персональных данных — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных" %};</li>
        					<li>{% trans "Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных" %};</li>
        					<li>{% trans "Оператор – государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными" %};</li>
        					<li>{% trans "Персональные данные – любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю веб-сайта" %}&nbsp;<a style="color: #569200;" href="https://milan-holidays.net">https://milan-holidays.net</a>;</li>
        					<li>{% trans "Пользователь – любой посетитель веб-сайта" %}&nbsp;<a style="color: #569200;" href="https://milan-holidays.net">https://milan-holidays.net</a>;</li>
        					<li>{% trans "Предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц" %};</li>
        					<li>{% trans "Распространение персональных данных – любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом" %};</li>
        					<li>{% trans "Трансграничная передача персональных данных – передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу" %};</li>
        					<li>{% trans "Уничтожение персональных данных – любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и (или) результате которых уничтожаются материальные носители персональных данных" %}.</li>
        				</ol>
        				<p>
        				</p>
        				<h5>3. {% trans "Оператор может обрабатывать следующие персональные данные Пользователя" %}</h5>
        				<p>
        				</p>
        				<p>
        				</p>
        				<ol>
        					<li>{% trans "Фамилия, имя, отчество" %};</li>
        					<li>{% trans "Электронный адрес" %};</li>
        					<li>{% trans "Номера телефонов" %};</li>
        					<li>{% trans "Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других)" %}.</li>
        					<li>{% trans "Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные" %}.</li>
        				</ol>
        				<p>
        				</p>
        				<h5>4. {% trans "Цели обработки персональных данных" %}</h5>
        				<p>
        				</p>
        				<p>
        				</p>
        				<ol>
        					<li>{% trans "Цель обработки персональных данных Пользователя —&nbsp;оказание услуг по поиску и бронированию трансферов" %}.</li>
        					<li>{% trans "Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты" %}&nbsp;<a style="color: #569200;" href="mailto:milanholidays@yandex.ru">milanholidays@yandex.ru</a>&nbsp;{% trans "с пометкой «Отказ от уведомлениях о новых продуктах и услугах и специальных предложениях" %}».</li>
        					<li>{% trans "Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания" %}.</li>
        				</ol>
        				<p>
        				</p>
        				<h5>5. {% trans "Правовые основания обработки персональных данных" %}»</h5>
        				<p>
        				</p>
        				<p>
        				</p>
        				<ol>
        					<li>{% trans "Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте" %}&nbsp;<a style="color: #569200;" href="https://milan-holidays.net">https://milan-holidays.net</a>. {% trans "Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой" %}.</li>
        					<li>{% trans "Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript" %}).</li>
        				</ol>
        				<p>
        				</p>
        				<h5>6. {% trans "Порядок сбора, хранения, передачи и других видов обработки персональных данных" %}</h5>
        				<p>
        				</p>
        				 {% trans "Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных." %}
        				<p>
        				</p>
        				<ol>
        					<li>{% trans "Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц." %}</li>
        					<li>{% trans "Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства." %}</li>
        					<li>{% trans "В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора" %}&nbsp;<a style="color: #569200;" href="mailto:milanholidays@yandex.ru">milanholidays@yandex.ru</a>&nbsp;{% trans "с пометкой «Актуализация персональных данных" %}».</li>
        					<li>{% trans "Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора" %}»&nbsp;<a style="color: #569200;" href="mailto:milanholidays@yandex.ru">milanholidays@yandex.ru</a>&nbsp;{% trans "с пометкой «Отзыв согласия на обработку персональных данных" %}».</li>
        				</ol>
        				<p>
        				</p>
        				<h5>7. {% trans "Трансграничная передача персональных данных" %}</h5>
        				<p>
        				</p>
        				<p>
        				</p>
        				<ol>
        					<li>{% trans "Оператор до начала осуществления трансграничной передачи персональных данных обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных." %}</li>
        					<li>{% trans "Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных." %}</li>
        				</ol>
        				<p>
        				</p>
        				<h5>8. {% trans "Заключительные положения" %}</h5>
        				<p>
        				</p>
        				<p>
        				</p>
        				<ol>
        					<li>{% trans "Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты" %}&nbsp;<a style="color: #569200;" href="mailto:milanholidays@yandex.ru">milanholidays@yandex.ru</a>.</li>
        					<li>{% trans "В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией" %}.</li>
        					<li>{% trans "Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу" %}&nbsp;<a style="color: #569200;" href="https://milan-holidays.net/confidential/">https://milan-holidays.net/confidential/</a>.</li>
        				</ol>
         <br>
         <br>
        			</div>
        		</div>
        	</div>
        </div>
 </section>

    </div>
  </div>
</div>


{% endblock content %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src='{% static "js/questions/questions.js" %}'></script>
{% endblock scripts %}
